{{ define "main" }} {{ partial "page-header.html" . }}
<section class="section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mb-4 mb-lg-0">
                {{ .Content }}
                </div>
            <div class="col-lg-5 content">
                <img style="border: 10px solid #fff;box-shadow: rgb(0 0 0 / 20%) 0 20px 30px 0;" src="/images/alfons.jpg" alt="Alfons Muñoz">
            </div>
        </div>
    </div>
</section>

<!-- call to action -->

<!-- /call to action -->

{{ end }}