{{ define "main" }} 

{{ partial "page-header.html" . }}
<section class="section bg-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 mb-4 mb-lg-0">
                <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
                <script>
                    hbspt.forms.create({
                        region: "na1",
                        portalId: "6489484",
                        formId: "db7bc4aa-a913-4261-bb20-19c795e71056"
                    });
                </script>
            </div>

            <div class="col-lg-5 content">
                {{ .Content }}
            </div>
        </div>
    </div>
</section>

{{ end }}